body {
    margin: 0px;
    background-color: rgb(198, 221, 219);
    color:  #8a8a8a;
    text-align: center;

}

    div.container {
        height: 50em;
        position: relative }
    div.container p {
        margin: 0;
        background: rgb(198, 221, 219);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -100%;
        transform: translate(-50%, -50%);
        font-size: 5mm;
     }  

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

}
.nav-link-wrapper {
    height: 22px; 
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; 
}
.nav-link-wrapper a { 
    color: #8a8a8a; 
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid black; 
}
.nav-link-wrapper a:hover {
    color: black; 
}
